
.scrollmenu {
    background-color: #333;
    overflow: hidden;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
  }
  .scrollmenu a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  .scrollmenu a:hover{
    background-color:rgb(190, 14, 111);
  }
  
   
     .h1{
    color: rgb(16, 180, 119);
    padding:120px ;
    text-align:center;
  
      }
    
      .centre {
        padding:20px  ;
        text-align:center;
        float:centre; 
        margin-top:120px;
        text-decoration: none;
       
      }
      .centre  a:link{
        color:rgb(226, 21, 21);
        
      }
     .centre a:visited{
        color: rgb(22, 157, 190);
      }
    .centre  a:hover{
       color: rgb(190, 14, 111);
        
      }
    .centre  a:active{
        color: darkgreen;
      }

      .team{
        margin: top 50px;
        margin-bottom: 0px; 
        text-align: center; 
        color: rgb(196, 107, 25);
      }
      .team h2{
        padding-top: 50px;
      }
      .h2{
        padding:3px 20px;
        text-align:center;
        color:rgb(243, 60, 145);
        padding-top:0px;
        font-size: 1.5em;
      }
      button{
          padding:40px 40px;
          text-align:center;
          background-color: cadetblue;
          text-shadow: coral;
  
      }
   
    

    body, html {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-image: url("pictures/saroj.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  body{
    background-color: linear-gradient(to right, #9c27b0, #8ecdff);
  }
 /* div.sticky {
    position: -webkit-sticky;
    position: fixed;
     width:100%;
    
  }*/
 
 
  
  .active {
    background-color: #4CAF50;
  }
  .avatar {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
  }
  .column {
    float: left;
    width: 33.33%;
    margin-left: 230px;
    margin-bottom: 0px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 0px;
  }
  .myDiv {
    border: 2px outset red;
    background-color: lightblue;    
    text-align: center;
    padding: 20px 10px;
  }
  .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .button1 {
    background-color:#cccccc; 
    color: black; 
    border: 2px solid #008CBA;
    background-color: #4CAF50; /* Green */
     border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 8px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
   
  }
  
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }
  
  
  .footer{
    position: relative;
    background-color: #56697a;
    display: inline-block;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    border-radius: 1px;
    border-color: crimson;
    width: 100%;
    height: 250px;

  }
  .footer .container2{
    text-align:unset;
    color: rgb(20, 7, 9);
    padding: 20px 20px 20px 20px;
    font-size: 1.5em;
    margin: 5px;

  }
  #footer .twitter {
   background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
   background-repeat: no-repeat;
   background-position: 0 0;
   color: tomato;
 }
 #footer .linkedin {
   background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
   background-repeat: no-repeat;
   background-position: -78px 0;
 }
 #footer .facebook {
   background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
   background-repeat: no-repeat;
   background-position: -233px 0;
 }
 #footer .skype {
   background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
   background-repeat: no-repeat;
   background-position: -156px 0;
 }
 #footer .instagram {
   background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
   background-repeat: no-repeat;
   background-position: -310px 0;
 }
 #footer a {
   height: 56px;
   width: 56px;
   display: inline-block;
   margin: 5px;
   text-align: center;
 }
 #footer h3{
   margin-left: 100px;
   margin-top: 0px;
 }


 .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px 4px 4px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 400px;
  
  
}

/* Create four equal columns that sits next to each other */
.column1 {
  position: relative;
  flex: 25%;
  max-width: 33.33%;
  max-height: 20%;
  padding: 4px 4px 4px 4px;
  margin-top: 2px;
  margin-left: 2px;
  background-color:rgb(208, 236, 235);
  color: black;
  opacity: 70px;
  font-size: 1.5em;
  float: left; 
}

.imgtext h4{
text-align: center;
padding: 10px 10px 10px 10px;
background-color: rgb(212, 193, 193);
opacity: 80%;
color: rgb(221, 78, 11);
margin-top: -50px;
margin-left: 1px;
width:92%;

}

.column1 img {
   margin-top: 16px;
   vertical-align: middle;
   border: 2px solid rgb(214, 22, 118);
    width: 420px;
    height:270px;
    
  }

  .demo {
    opacity: 0.7;
  }
  
  .active,
  .demo:hover {
    opacity: 2;
  }

  .cursor {
    cursor: pointer;
  }

  img.hover-shadow {
    transition: 0.3s;
  }
  img .hover::-moz-focus-outer{
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
 

  * {
    box-sizing: border-box;
   
  }

  .column11{
  max-width: 25%;
  position: relative;
  flex: 25%;
  max-height: 20%;
  padding: 0 4px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  background-color:#cccccc;
  color: black;
  opacity: 70px;
  font-size: 1em;
  float: left
  }
  .column11 form{
    background-color: white;
    max-width: 100%;
    padding:2px 2px 2px 2px;
    text-align: center;
  }
  /* only check*/
  