
    body {
        background-image: url("skin1.jpg");
        position:absolute;
       
    
        margin-left: 0px;
        width: 100%;
        scroll-behavior: smooth;
      
        background-position: center;
        background-repeat: no-repeat;
       background-size: cover;
       height: 100px;
       padding-bottom: 100%;
      }
      .h1{
  
      color: rgb(235, 34, 19);
      padding:10% ;
     
      }
          
      
      * {
        box-sizing: border-box;
      }
      
      body {
        margin-top: 0;
        margin-bottom: 5px;
      }
      
      .navbar {
        overflow:hidden;
        background-color:black;
        font-family: Arial, Helvetica, sans-serif;
    
      }

    
      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 20px 25px;
        text-decoration: none;
        
      }
      
      .dropdown {
        float: left;
        overflow: hidden;
        padding-left: 16px;
  
       }
      
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font: inherit;
        margin: 0;
        
       padding-left: 200px;
      }
      
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: rgb(190, 14, 111);
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
       
      }
      
      .dropdown-content .header {
        background: white;
        padding: 8px;
        color:black;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
  
      }
      
      /* Create three equal columns that floats next to each other */
      .column {
        float: right;
        width: 15.33%;
        padding: 5px;
        background-color: whitesmoke;
        height: 290px;
      
      }
      
      .column a {
        float: none;
        color: black;
        font-size: 14px;
        padding: 8px;
        text-decoration: none;
        display: block;
        text-align:left;
       
      }
      
      .column a:hover {
        background-color: #ddd;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .column1 a{
        text-decoration: none;
      }
      .column1 a:hover{
        color: deeppink;
        }
    /*   .bg-content{
          background-color:white;
          color: black;
          opacity: 70px;
          font-size: 1.5em;
          float: left;
          width: 17%;
          padding: 10px 10px 10px 10px;
          margin-top: 110px;
          margin-left: 130px;
          font-weight:bolder;
      }*/
      .imgdiv{
        margin-top: 150px;
      }
       
      .row {
        display: flex;
        flex-wrap: wrap;
        padding: 19px 4px 4px 57px;
        margin-left: 90px;
      
  
        
      }
      
      /* Create four equal columns that sits next to each other */
      .column1 {
        position: relative;
        
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
        margin-top: 5px;
        margin-left: 80px;
        margin-right: 30px;
        background-color:white;
        color: black;
        opacity: 70px;
   
        float: left;
        font-size: 1.5em;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       
        
      }
      
   .imgtext h4{
      text-align: center;
      padding: 10px 10px 10px 10px;
      background-color: rgb(212, 193, 193);
      opacity: 80%;
      color: rgb(221, 78, 11);
      margin-top: -46px;
      margin-left: 1px;
      width:128%;
      font-weight: bolder;
      font-size: 0.85em;
     
    }
      .column1 a{
        flex: 20%;
        max-width: 20%;
        color: black;
       
      }
      
      .column1 img {
         margin-top: 8px;
         vertical-align: middle;
         border: 2px solid rgb(214, 22, 118);
          width: 430px;
          height:270px;
          
        }
  
        .demo {
          opacity: 0.7;
        }
        
        .active,
        .demo:hover {
          opacity: 2;
        }
  
        .cursor {
          cursor:pointer;
        }
      
        img.hover-shadow {
          transition: 0.3s;
        }
        img .hover::-moz-focus-outer{
          transition: 0.3s;
        }
        
        .hover-shadow:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       
    
        * {
          box-sizing: border-box;
        }
       .footer{
         position: relative;
         background-color: #56697a;
         display: inline-block;
         margin-top: 100px;
         margin-left: 0px;
         margin-right: 0px;
         margin-bottom: 40px;
         border-radius: 1px;
         border-color: crimson;
         width: 100%;
         height: 250px;
  
       }
       
       .footer .container2{
         text-align:center;
         color: crimson;
         padding: 20px 20px 20px 20px;
         font-size: 1.5em;
         margin: 5px;
  
       }
       #footer .twitter {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        color: tomato;
      }
      #footer .linkedin {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: -78px 0;
      }
      #footer .facebook {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: -233px 0;
      }
      #footer .skype {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: -156px 0;
      }
      #footer .instagram {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: -310px 0;
      }
      #footer a {
        height: 56px;
        width: 56px;
        display: inline-block;
        margin: 5px;
        text-align: center;
        color: pink;
      }
      #footer h3{
        margin-left: 100px;
        margin-top: 0px;
      }
      #footer a:link{
        color: thistle;
      }
      #footer a:hover{
        color: yellow;
      }
      .makeup {
          font-size: 0.6em;
         margin-left: 8px;
         margin-bottom: 30px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-style: normal;
      }

      #mk {
          color: rgb(247, 12, 157);
          font-size: 1em;
          font-weight: bold;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
